<div class="jumbotron jumbotron-fluid" style="background: url({{image}});
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 13% 0 8%;
    margin-top: -14px;">
  <div class="container">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>