<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">CYF Hotel</h1>
    <p class="lead font-weight-normal">Simply The Best
    </p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  <div class="p-device box-shadow d-none d-md-block"></div>
  <div class="p-device p-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="room">
  <h1 class="title">{{title}}</h1>
  <div class="room-heading">
    <a href="">Acommodation</a><span>|</span>
    <a href="">Food & Drink</a><span>|</span>
    <a href="">Spa</a>
  </div>
  <div class="room-content"> 
    {{#each services}}
      <a href="/room/{{id}}">
        <div class="room-info">
        <div>
          <img src={{image}} class="room-img">
        </div>
        <div class="room-modality">
          <p> {{[type of room] }} </p>
          {{!-- <p> {{[description] }} </p>
          <p> £ {{price}} per day.</p> --}}
        </div>
      </div>
      </a>
    {{/each}}
  </div>

</div>
  