<div class="top-content">
	<div class="inner-bg">
		<div class="login-page">
			<div class="form">
				<form action ="/invoice" method="POST" class="login-form">
					<input type="text" name='firstname' placeholder="Firstname">
					<input type="text" placeholder="Surname" />
					<input type="text" placeholder="Email address" name="email"/>
					<input type="password" placeholder="Password">
					 <input type="submit" value="Get Invoice" class="submit-invoice">
				</form>
			</div>
		</div>
	</div>

</div>