{{#each room}}
<div class="jumbotron jumbotron-fluid" style="background: url({{image}});
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 13% 0 8%;
    margin-top: -14px;">
  <div class="container">
    <h1 class="display-3">{{[type of room]}}</h1>
  </div>
</div>

<div class="container-fluid container-fluid-room">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-room">
                <div class="card-block">
                    <p>{{description}}</p>
                    <p>From: £{{price}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <img src="{{image}}" alt="" class="card-img-s">
                </div>
            </div>
        </div>
    </div>
</div>


{{/each}}